[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = """=[SMODS _ "src/utils.lua"]"""
pattern = "return 5"
position = "before"
payload = '''
if next(SMODS.find_card('j_valk_tau_fingers')) then
    return 3
end
if G.GAME.strush_override then
    return G.GAME.strush_override
end
'''
match_indent = true


[[patches]]
[patches.pattern]
target = """=[SMODS multiverse "misc/hooks.lua"]"""
pattern = '''G.GAME.chips = G.GAME.chips - G.GAME.blind.chips / 10'''
position = "before"
payload = '''
if G.GAME.blind and G.GAME.blind.name == "bl_valk_fuck" then
    G.FUNCS.DT_lose_game()
    Multiverse.in_undyne = false
    Multiverse.undyne_spears = {}
end
'''
match_indent = true

# copied from jtem again
[[patches]]
[patches.pattern]
target = 'game.lua'
position = 'before'
pattern = "if G.debug_splash_size_toggle then "
payload = '''
if G.STAGE ~= G.STAGES.MAIN_MENU and G.valk_splash then
    G.valk_splash:remove()
    G.valk_splash = nil
end

if G.STAGE == G.STAGES.MAIN_MENU and not G.valk_splash then
    vallkarri.initialize_splashtext()
end

if G.valk_splash then
    love.graphics.push()
    G.valk_splash:translate_container()
    G.valk_splash:draw()
    love.graphics.pop()
end
'''
match_indent = true


[[patches]]
[patches.pattern]
target = """=[SMODS _ "src/loader.lua"]"""
pattern = "SMODS.booted = true"
position = "before"
payload = '''
if not vallkarri then
    if (not CryptLib) and (not Cryptid) then
        
        local cryl_installed = false
        local cryptlib_folder = nil
        for _,foldername in pairs(NFS.getDirectoryItems(SMODS.MODS_DIR)) do
            if string.find(foldername:lower(), "cryptlib") then 
                cryl_installed = true
                cryptlib_folder = foldername
            end
        end

        if cryl_installed then
            if NFS.remove(SMODS.MODS_DIR .. "/" .. cryptlib_folder .. "/.lovelyignore") then
                error("\n\nVallKarri patches succeeded, but the mod failed\n\nYou are missing CryptLib.\nAutomatically re-enabling...\n\nYou may restart the game and ignore this error.")
            end
        end

        local valk = SMODS.Mods["vallkarri"]
        local dev = valk and valk.version and string.find(valk.version, "d")
        love.system.openURL("https://github.com/SpectralPack/Cryptlib" .. (not dev and "/releases/latest" or ""))
        error("\n\nVallKarri patches succeeded, but the mod failed\n\nYou are missing CryptLib.\nOpening download link...")
    else
        local valk = SMODS.Mods["vallkarri"]
        local dev = valk and valk.version and string.find(valk.version, "d")
        love.system.openURL("https://github.com/Steamodded/smods" .. (not dev and "/releases/latest" or ""))
        error("\n\nVallKarri patches succeeded, but the mod failed\n\nThis is likely since your Steamodded is outdated.\nOpening download link...")
    end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'engine/event.lua'
position = 'after'
pattern = "Event = Object:extend()"
payload = "--dummy patch"
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
position = 'after'
pattern = "local info_queue = {}"
payload = '''
if _c.tau and (desc_nodes == full_UI_table.main and not full_UI_table.name) then
    info_queue[#info_queue + 1] = { set = "Other", key = "tauic_info" }
end
'''
match_indent = true


# i wholely, genuinely apologize. this is not the best solution, nor is it close.
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
position = 'at'
pattern = "SMODS.create_mod_badges(card.config.center, badges)"
payload = '''
local cen = card.config.center
if cen then cen.valk_card = card end
SMODS.create_mod_badges(cen, badges)
'''
match_indent = true


[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
{n=G.UIT.T, config={text = " ", scale = 0.3*scale}},
'''
position = "at"
payload = '''
{n=G.UIT.T, config={ref_table = G.GAME.round_resets, ref_value = 'eante_disp', scale = 0.5*scale}},
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
if type(vals[name]) == 'string' then delta = vals[name] end
'''
position = "before"
payload = '''
if vals[name .. "_pre"] then delta = vals[name .. "_pre"] .. vals[name] end
'''
match_indent = true